@charset "utf-8";

/* WebFont */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face {font-family: 'Cafe24Danjunghae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff'); font-weight: normal; font-style: normal;}
/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Cafe24Danjunghae'; */

/* layout */
#nav {position: relative;}
#contents {}
#section1 {}
#section2 {}
#section3 {}
#section4 {}
#section5 {}

/* container : 가운데 영역 */
.container {position: relative; width: 1420px; height: 1000px; margin: 0 auto; /* background: rgba(255,255,255,0.3); */}

/* bg wave */
.bg1 {position: absolute; background: url(../img/bg-pink-1.png) no-repeat 0 0; width: 100%; height: 260px; z-index: 10;}
.bg2 {position: absolute; background: url(../img/bg-blue-1.png) no-repeat center 0; width: 100%; height: 1010px; z-index: -10;}
.bg3 {position: absolute; background: url(../img/bg-yellow-1.png) no-repeat center center; width: 100%; height: 3000px; top: 664px; z-index: -20;}

/* object */
.ob1 {position: absolute; background: url(../img/ob-home-1.png) no-repeat; width: 290px; height: 290px; left: 1354px; top: 593px; z-index: 10;}

/* nav */
.nav {position: fixed; overflow: hidden; top: 10px; right: 90px; z-index: 10000;}
.nav ul {float: right; font-family: 'Abril Fatface', cursive; font-size: 20px;}
.nav li {float: left; margin: 10px 20px;}
.nav li a {color: #fff; transition:.5s ease-in-out;}
.nav li a.scroll {opacity: 0;}
.mNav {position: fixed; top: 17px; right: 30px; z-index: 1000;}
.mNav .ham {display: block; width: 25px; height: 10px; /* background: rgba(0,0,0,0.4); */ padding: 17px 10px 10px 10px;}
.mNav .ham span {position: relative; display: block; width: 25px; height: 3px; background: #fff;}
.mNav .ham span:before {content: ''; width: 25px; height: 3px; background: #fff; position: absolute; left: 0; top: -7px;}
.mNav .ham span:after {content: ''; width: 25px; height: 3px; background: #fff; position: absolute; left: 0; bottom: -7px;}

/* section1 : home */
.home {text-align: center; padding: 35vh 0; /* border: 1px solid #000; */}
.home h1 {font-size: 110px; color: #fff; font-family: 'Nanum Gothic', sans-serif; font-weight: 800;}
.home p.desc {font-size: 25px; color: #fff; font-family: 'Abril Fatface', cursive;}