/* layout */
#contents {}
#section1 {
    height: 100vh;
    background: #FEE050 url(https://assets.website-files.com/5dbaec16f510ee7b1c0004d6/5dcc4ba7e654b268b33b59bb_homepage-wave-hero.svg) no-repeat center top;
    background-size: cover;
}
#section1 svg {
    position: absolute; left: 0; top: 0;
}
#section2 {
    height: 1000px;
    background-color: #FEE050;
}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/* container */
.container {width: 1400px; margin: 0 auto; position: relative; /* background: rgba(0,0,0,0.3); */}
 
/* sec1 */
.sec1 {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;    
    flex-direction: column;
}
.sec1 h1 {
    font-size: 100px;
    font-family: 'Playfair Display SC', serif;
}
.sec1 p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}

/* sec2 */
.sec2 {padding: 20vh 0;}
.sec2 h2 {
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    color: #19057A;
    text-align: center;
    font-weight: 900;
}















